
.photofolio-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.loader{
    width: 33%;
    height: 225px;
    display: flex;
    margin: 1rem;
    flex-direction: column;
}

.loader-Container{
    display: flex;
    width: 100%;
}