@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App{
  width: 100%;
  display: flex;
  justify-content: center;
}

.ApplicationContainer{
  width: 80%;
}

:root {
  --black: #140F0F;
  --white: #FFF;
  --yellow: #daf400;
  --green:#18BB5C;
  --red: #FF433D;
  --blue : #007EFF;
  --grey: #A5A5A6;
  --border-color:#e9ecef;
  --hover-color:rgba(0,0,0,1);
  --background-color: #F2F1EF;
}
